@charset "UTF-8";

/*********** RESET ***********/
*, ::before, ::after {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

/*********** CUSTOM GENERIC CLASS ***********/
.playfair-font {
  font-family: "Playfair Display", serif;
}

.title-display-1 {
	font-size: calc(1.5rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

.contact-section {
	position: relative;
	max-width: 450px;
	margin: 0 auto;
	padding: 1rem;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.error-span {
	font-style: italic;
	font-size: calc(0.5rem + 0.5vw);
	font-weight: 500;
	color: #e74c3c;
}


/*********** GENERAL ***********/
body {
	background-color: #383C40;
	color: #f8f9fa;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

main {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
	text-align: center;
	width: max-content;
}

.contact-section > form {
	margin-top: 1rem;
}

input[type="text"],
textarea {
	width: 100%;
	background-color: #3d3a4b;
	color: #f8f9fa;
	border: 1px solid rgba(208, 130, 9, 0.8);
	outline: none;
	padding: 0.5rem;
	font-size: calc(0.5rem + 0.5vw);
}

input[type="text"]:focus, textarea:focus {
	border: 2px solid rgba(208, 130, 9, 0.8);
	margin: -1px;
}

.inputContainer > div {
	width: 100%;
}
.inputContainer > input[type="submit"] {
	margin-top: 10px;
	padding: 4px 8px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: calc(0.5rem + 0.5vw);
	font-weight: 500;
	background-color: rgba(208, 130, 9, 0.8);
	color: #111;
	border-radius: 2px;
	border: 1px solid rgba(61,58,75,0.5);
	transform: translate(0);
	transition: all 0.3s ease-in-out;
}
.inputContainer > input[type="submit"]:hover {
	transform: translate(-1px, -1px);
  	box-shadow: 0px 0px 10px rgba(241,241,241,0.8);
}

/*********** FOOTER ***********/
footer {
	position: fixed;
    width: 100%;
    bottom: 0;
}