@charset "UTF-8";

*, ::before, ::after {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

body {
	background-color: #5d5872;
	color: #f8f9fa;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

/*********** NAV BAR ***********/
.main-navbar {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #3d3a4b;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f8f9fa;
    padding: 1rem 0;
}
.main-navbar > a:not(:nth-child(1)) {
	margin-left: 1rem;
}
.main-navbar > a {
	position: relative;
    color: #f8f9fa;
    text-decoration: none;
    text-transform: uppercase;
}
.main-navbar a::after {
	content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f1f1f1;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
.main-navbar a:hover::after {
	transform: scaleX(1);
}
/****************************************/

h1 {
	text-align: center;
	margin: 100px 0 20px 0;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type="text" i] {
	height: 50px;
}

textarea {
	height: 300px;
}

input[type="text" i],
textarea {
	background-color: #3d3a4b;
	color: #f8f9fa;
	width: 500px;
	border: 1px solid #f8f9fa;
	outline: none;
	margin: 20px 0 20px 0;
	padding: 5px;
}


input[type="text" i]:focus, textarea:focus {
	outline: 1px solid #f8f9fa;
}


/*****FOOTER************************/
footer {
	position: fixed;
    width: 100%;
    bottom: 0;
}

/******BUTTON************************/

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#submit-message {
	height: 25px;
    font-size: 15px;
    width: 80px;
}