/*********** FOOTER ***********/

footer {
  background-color: #383C40;
  color: #f8f9fa;
  border-top: 1px solid #f8f9fa;
  padding: 1rem 0;
  text-align: center;
}

footer p {
  margin-top: 1rem;
  font-size: calc(0.5rem + 0.5vw);
}

footer .footer-icons {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

footer .footer-icons a {
	font-size: calc(1.5rem + 0.5vw);
  display: flex;
  flex-direction: column;
  color: #f8f9fa;
  margin: 0 1rem;
  text-decoration: none;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
}

footer .footer-icons a:hover {
  color: rgba(208, 130, 9, 0.8);;
  transform: translate(-1px, -1px);
}