@charset "UTF-8";

/*********** RESET ***********/
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*********** CUSTOM GENERIC CLASS ***********/
.container {
	max-width: 1320px;
	margin: 0 auto;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

.title-display-1 {
	font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}

.title-display-2 {
	font-size: calc(1.425rem + 1.1vw);
    font-weight: 300;
    line-height: 1.2;
}

.title-display-3 {
	font-size: calc(1rem + 0.5vw);
    font-weight: 500;
    line-height: 1.2;
}

.beige-subtitle {
	text-align: center;
	color: rgba(208, 130, 9, 0.8);
	margin-bottom: 1rem;
}

/*********** GENERAL ***********/
html {
	scroll-behavior:smooth;
}

body {
	background-color:#383C40;
	color: #f8f9fa;
	padding-top: 50px;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

h1 {
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #f8f9fa;
}

p {
	font-size: calc(0.5rem + 0.5vw);
}

/*********** HOME HERO ***********/
.home-hero-section {
	padding: 6rem;
 	height: 75dvh; 
  	width: 100%;
  	position: relative;
  	display: flex;
    align-items: center;

 }
 
 .home-hero-section > .container {
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 
.home-hero-section .home-hero-section-img {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/banner-homepage.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  top: 0;
  left: 0;
}

.home-hero-section .home-hero-section-content {
	position: relative;
	width: 100%;
	font-weight: 600;
}

 .home-hero-section p:nth-child(1) {
	 margin-left: auto;
 }

 .home-hero-section p:nth-child(3) {
	 font-weight: 300;
	 margin-bottom: 1rem;
 }
 .home-hero-section p:nth-child(4) {
	 max-width: 50vw;
	 max-height: 10vh;
 }
 .home-hero-section a {
	 display: inline-block;
	 width: max-content;
	 text-decoration: none;
	 background-color: rgba(208, 130, 9, 0.8);
	 color: #000;
	 margin-top: 1rem;
	 padding: 4px 8px;
	 font-size: calc(0.5rem + 0.5vw);
	 font-weight: 500;
	 border-radius: 2px;
	 border: 1px solid rgba(61,58,75,0.5);
	 transform: translate(0);
	 transition: all 0.3s ease-in-out;
 }
 .home-hero-section a:hover {
	 transform: translate(-1px, -1px);
  	 box-shadow: 0px 0px 10px rgba(241,241,241,0.8);
 }
 
 /*********** HOME RESTAURANT ***********/
.home-restaurant-section {
	background-color: rgba(208, 130, 9, 0.8);
	padding-bottom: 5rem;
}

.home-restaurant-section > p {
	text-align: center;
	color : #3d3a4b;
}

.home-restaurant-section > p:nth-child(1) {
	margin-bottom: 0.25rem;
	padding-top: 5em;
}

.home-restaurant-section > p:nth-child(3) {
	margin-bottom: 3rem;
}

.home-restaurant-section > h2 {
	text-align: center;
	margin-bottom: 1rem;
	color : #111;
}

.home-restaurant-section .home-restaurant-grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	justify-content: center;
	gap: 2em;
	padding: 0 2rem;
}

.home-restaurant-card {
	position: relative;
	display: flex;
	flex-direction: column;	
	border: 1px solid rgba(61,58,75,0.5);
	box-shadow: 2px 2px 4px #3d3a4b;
	border-radius: 2px;
	transform: translate(0);
	transition: all 0.3s ease-in-out;
}
.home-restaurant-card:hover {
	box-shadow: 4px -2px 4px #3d3a4b;
	transform: translate(-2px, -2px);
}

.home-restaurant-card > a {
	position: absolute;
	height: 100%;
	width: 100%;
}

.home-restaurant-card .home-restaurant-card__box-img {
	height: calc(1rem + 228px);
}

.home-restaurant-card .home-restaurant-card__box-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home-restaurant-card .home-restaurant-card__body {
	position: relative;
	flex-grow: 1;
	background-color: #383C40;
	color: #f8f9fa;
	padding: 1rem;
}

.home-restaurant-card .home-restaurant-card__body > h3 {
	margin-bottom: 0.5rem;
}
 
.home-restaurant-card .home-restaurant-card__body > p:nth-child(2) {
	font-size: 0.8rem;
	text-transform: capitalize;
	margin-bottom: 0.25rem;
} 

/*********** HOME PRODUCTS ***********/
.home-products-section {
	padding-top: 3rem;
}

.home-products-section > h2 {
	text-align: center;
	margin-bottom: 1rem;
	color : #f8f9fa;
}

.home-products-section > p:nth-child(2) {
	margin-bottom: 0.25rem;
	text-align: center;
	color : #f8f9fa;
}

.home-products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

.home-products-card {
  display: flex;
  flex-basis: 70%;
  height: calc(18rem + 5vh);
  border: 1px solid rgba(238,235,208,0.5);
  box-shadow: 1px 1px 4px rgba(208, 130, 9, 0.8);
}

.home-products-card .home-products-card__box-img {
  flex-basis: 50%;
  max-width: 50%;
  overflow: hidden;
}

.home-products-card .home-products-card__box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-products-card .home-products-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  max-width: 50%;
  padding: 4rem 1.4rem;
  background-color: rgba(208, 130, 9, 0.8);
  color: #111;
  overflow: hidden;
}

.home-products-card .home-products-card__body > h3 {
  margin-bottom: 0.5rem;
  font-size: calc(1rem + 1.1vw);
}

.home-products-card .home-products-card__body > p:nth-child(2) {
  font-size: calc(0.4rem + 0.5vw);
}

.home-products-card .home-products-card__body > p:nth-child(3) {
  font-size: calc(0.5rem + 0.5vw);
  margin: 1rem 0;
}

.home-products-card .home-products-card__body > p:last-child  {
	font-size: calc(0.5rem + 0.5vw);
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.home-products-card .home-products-card__body > p:last-child > span {
  background-color: #383C40;
  color: #f8f9fa;
  padding: 0.5rem;
  border-radius: 2px;
}

/**************************************/
/*********** MEDIA QUERIES ***********/
/*************************************/


@media screen and (max-width: 768px) {
	section {
		padding: 0 1rem;
	}
	.home-hero-section {
		padding: 2rem;
	}
	.home-products-card {
		flex-basis: 85%;
	}
	.home-products-card .home-products-card__body {
	  padding: 2rem 1.4rem;
	  gap: 2rem;
	}
	.home-products-card .home-products-card__body > p:nth-child(3) {
  	display: none;
	}
}