@charset "UTF-8";

/*********** RESET ***********/
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*********** CUSTOM GENERIC CLASS ***********/
.container {
	max-width: 1320px;
	margin: 0 auto;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

.title-display-1 {
	font-size: calc(1.525rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

.title-display-2 {
	font-size: calc(1rem + 1vw);
    font-weight: 500;
    line-height: 1.2;
}

.title-display-3 {
	font-size: calc(1rem + 0.5vw);
    font-weight: 400;
    line-height: 1.2;
}

.form-group {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.form-group.display-flex-column {
	flex-direction: column;
}

.select-group {
	display: flex;
	align-items: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-span {
	font-size: calc(0.5rem + 0.5vw);
	font-weight: 500;
	color: #e74c3c;
}


.messageContent.textarea-style {
	border: 2px solid rgba(208, 130, 9, 0.8);
	margin: -1px;
}
.messageContent.error-border {
	border: 2px solid #e74c3c;
}


/*********** GENERAL ***********/
body {
	background-color: #383C40;
	color: #f8f9fa;
	padding-top: 55px;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

main {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

section {
	padding: 0 1rem;
}

h1, h2, h3 {
	text-align: center;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

h2 {
	margin-bottom: 1rem;
}

h3 {
	margin-bottom: 40px;
	text-align: center;
	font-style: italic;
    color: rgba(208, 130, 9, 0.8);
}

span {
	font-style: italic;
}


label {
    margin-right: 5px;
}

/*********** RESA SECTION ***********/
.form-resa-container > form {
	font-size: calc(0.5rem + 0.5vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.form-resa-container > form input[type="date"] {
	margin-right: 10px;
}
.form-resa-container > form  input:not([type="submit"]), .form-resa-container > form  select, .form-resa-container > form textarea {
	padding: 5px;
	font-size: calc(0.5rem + 0.5vw);
	border: 1px solid rgba(208, 130, 9, 0.8);
	background-color: #3d3a4b;
	color: #f1f1f1;
	outline: none;
}
.form-resa-container > form  input:not([type="submit"]):focus, .form-resa-container > form  select:focus {
	border: 2px solid rgba(208, 130, 9, 0.8);
	margin: -1px;
	
}
.form-resa-container > form  input[type="submit"] {
	padding: 4px 8px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: calc(0.5rem + 0.5vw);
	font-weight: 500;
	background-color: rgba(208, 130, 9, 0.8);
	color: #111;
	border-radius: 2px;
	border: 1px solid rgba(61,58,75,0.5);
	transform: translate(0);
	transition: all 0.3s ease-in-out;
	font-size: calc(0.5rem + 0.5vw);
}
.form-resa-container > form  input[type="submit"]:hover {
	 transform: translate(-1px, -1px);
  	 box-shadow: 0px 0px 10px rgba(241,241,241,0.8);
}

/**********FOOTER*******************************/
footer {
	position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
}
