@charset "UTF-8";

*, ::before, ::after {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

.title-display-1 {
	font-size: calc(1.525rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

.title-display-2 {
	font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    line-height: 1.2;
}

main {
	padding-top: 55px;
	margin-bottom: 1rem;
}

body {
	background-color: #5d5872;
	color: #f8f9fa;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

button {
	cursor: pointer;
	background-color: #5d5872;
	padding: 5px 5px;
	border: 0 solid #111;
	border-radius: 2px;
	margin-top: 5px;
	color: floralwhite;
	width: 115px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
}

h1 {
	text-align: center;
	margin: 1rem 0;
}

h2, h3, table {
	margin: 15px 0px 15px 0px;
}

.link {
	color: #f8f9fa;	
	text-decoration: none;
	font-style: italic;
	opacity: 0.8;
}

.contentMessage, .link {
	padding-left: 15px;
}

.pictureInfo {
	padding: 1rem;
    background-color: #EEEbd0;
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 400px;
    color: #3d3a4b;
}

.profilInfo {
    flex: 1;
    text-align: start;
    font-size: calc(0.5rem + 0.5vw)
}

.profilPicture {
    flex: 1;
    text-align: center; 
    margin-right: 10px; 
}

.header {
	display: inline-block;
}

#imgProfil {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 1px solid black;
	object-fit: cover;
}

.align-i-h2 {
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 15px;
}


.user-details-section, .user-resa-section, .user-message-section, .user-contact-section {
	display: flex;
	flex-direction: column;
}
.user-resa-section, .user-message-section, .user-contact-section {
	padding: 0 1rem;
}
.user-details-section > h2, .user-resa-section > h2, .user-message-section > h2, .user-contact-section > h2 {
	display: flex;
	align-items: center;
	gap: 10px;
}
.user-details-section > h2 {
	padding: 0 1rem;
}

/**************************************/
/*********** MEDIA QUERIES ***********/
/*************************************/

@media screen and (max-width: 425px) {
	.pictureInfo {
		flex-direction: column;
	}
}


