@charset "UTF-8";

*, ::before, ::after {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.title-display-1 {
	font-size: calc(1.525rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

body {
	background-color: #5d5872;
	color: #f8f9fa;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

main {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
	text-align: center;
}

.inputUpdateUser {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 0 10px;
}

.alignLabelInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
    gap: 1em;
}

.alignLabelInput label {
    flex: 1; 
    text-align: left; 
    font-size: calc(0.5rem + 0.5vw);
    font-style: italic;
}

.alignLabelInput input:not([type="submit"]) {
    flex: 1;
    text-align: left; 
    background-color: #5d5872;
    color: #eeebd0;
    border: 1px solid #eeebd0;
    outline: none;
    padding: 5px;
    font-size: calc(0.5rem + 0.5vw);
}

.alignLabelInput input:not([type="submit"]):focus {
	border: 2px solid #eeebd0;
	margin: -1px;
}

.alignLabelInput input[type="submit"],
.alignLabelInput a {
	display: block;
    margin-top: 10px;
	padding: 4px 8px;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-family: "Montserrat", sans-serif;
	font-size: calc(0.5rem + 0.5vw);
	font-weight: 500;
	background-color: #eeebd0;
	color: #111;
	border-radius: 2px;
	border: 1px solid rgba(61,58,75,0.5);
	transform: translate(0);
	transition: all 0.3s ease-in-out;
}
.alignLabelInput input[type="submit"]:hover,
.alignLabelInput a:hover {
	transform: translate(-1px, -1px);
  	box-shadow: 0px 0px 10px rgba(241,241,241,0.8)
}

::placeholder {
	color: #eeebd0;
	opacity: 0.5;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
