<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource
		name="patedor"
		
		driverClassName="com.mysql.cj.jdbc.Driver"
		type="javax.sql.DataSource"
		
		url="jdbc:mysql://localhost:3306/pate_d_or"
		username="userName"
		password="password"
		
		maxTotal="100"
		maxIdle="30"
		maxWaitMillis="10000"
	/>
	
	<Resource
		name="patedor"
		driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		type="javax.sql.DataSource"
		
		url="jdbc:sqlserver://localhost;databasename=PATE_D_OR;trustservercertificate=true"
		username="userName"
		password="password"
		
		maxTotal="100"
		maxIdle="30"
		maxWaitMillis="10000"
	/>
	
</Context>