<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>pate_d_or_gp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>controller.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnection</display-name>
    <servlet-name>ServletConnection</servlet-name>
    <servlet-class>controller.ServletConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRestaurant</display-name>
    <servlet-name>ServletRestaurant</servlet-name>
    <servlet-class>controller.ServletRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRestaurant</servlet-name>
    <url-pattern>/restaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletUserPage</display-name>
    <servlet-name>ServletUserPage</servlet-name>
    <servlet-class>controller.ServletUserPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserPage</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserReservation</display-name>
    <servlet-name>ServletUserReservation</servlet-name>
    <servlet-class>controller.ServletUserReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserReservation</servlet-name>
    <url-pattern>/reservationUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>controller.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateUser</display-name>
    <servlet-name>ServletUpdateUser</servlet-name>
    <servlet-class>controller.ServletUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
</web-app>